body {
    font-size: 13px !important; /* the first one :( */
    margin-top: 80px !important;
}

div.matters {
    max-height: 500px;
    overflow: scroll;
}

.tab-content {
    padding: 15px;
}

li.active a {
    color: white;
}

li.list-group-item.odd {
    background-color: rgb(243, 243, 243);
}

div.left-side {
    border-left: 1px solid #d9edf7;
}