<div class="container">
    <ng-include src="nav.url"></ng-include>

    <div class="row clearfix">
        <div class="col-md-12 column">
            <div class="row clearfix">
                <!-- start left side column with features -->
                <div class="col-md-2 column">
                    <div class="list-group">
                        <h4 class="list-group-item"><i class="glyphicon-download glyphicon"></i>&nbsp; Actions</h4>
                        <a href="#/dashboard/matters" class="list-group-item active"><i class="glyphicon glyphicon-th"></i>&nbsp;Matters</a>
                        <div class="list-group-item">
                            <i class="glyphicon glyphicon-user"></i>&nbsp;People
                        </div>
                        <div class="list-group-item">
                            <i class="glyphicon glyphicon-th-list"></i>&nbsp;Reports
                        </div>
                        <div class="list-group-item">
                            <i class="glyphicon glyphicon-calendar"></i>&nbsp;Calendar
                        </div>
                        <div class="list-group-item">
                            <span class="badge">14</span>
                            <i class="glyphicon glyphicon-tasks"></i>>&nbsp;Task
                        </div>

                    </div>
                </div>
                <!-- end left side column with features -->
                <!-- start middle column with list of names or cases -->
                <div class="col-md-3 column">
                    <h4 class="list-group-item"><i class="glyphicon glyphicon-align-justify"></i>&nbsp; {{ action }}</h4>
                    <input type="text" class="input-sm form-control" placeholder="search matters" ng-model="query">
                    <div class="matters">
                        <ol class="list-group">
                            <li class="list-group-item" ng-repeat="matter in matters | filter:query">
                                <a href="" ng-click="activeMatter(matter)">{{ matter.name }} <small>[{{ matter.case_id}}]</small></a>
                            </li>
                        </ol>
                    </div>
                </div>

                <!-- end middle column with list of names or cases -->

                <!-- start right column with forms and actions -->
                <div class="col-md-7 column">
                    <div class="panel panel-default">
                        <div class="panel-heading"> <strong>Matter Name: {{ matter_viewing.name }} </strong> [{{ matter_viewing.case_id}}] &nbsp;&nbsp;<a class="pull-right" ng-href="/dashboard/matters/{{ matter_viewing.id}}/edit"><i class="glyphicon glyphicon-pencil"></i></a></div>
                        <div class="panel-body">
                            <h5>Date:</h5> {{ matter_viewing.created | date:'medium' }}
                            <h5>Location:</h5>
                            <address>
                                {{matter_viewing.location.name}}<br>
                                {{matter_viewing.location.street}}<br>
                                {{matter_viewing.location.city}}<br>
                                {{matter_viewing.location.state}}, {{ matter_viewing.location.zip }}
                            </address>
                        </div>
                        <div class="panel-body">
                                <tabset>
                                    <tab heading="Details" ><div data-ng-bind="matter_viewing.description"></div></tab>
                                    <tab heading="People">
                                        <div class="col-md-6 column">
                                            <h4 class="list-group-item"><i class="glyphicon-download glyphicon"></i>&nbsp; Witnesses</h4>
                                            <ol class="list-group">
                                                <li class="list-group-item" ng-repeat="witness in matter_viewing.people.witness">
                                                    <a href="" ng-click="activePerson(witness)">{{ witness.firstname }} {{ witness.lastname }}</a>
                                                </li>
                                            </ol>
                                            <h4 class="list-group-item"><i class="glyphicon-download glyphicon"></i>&nbsp; Other</h4>
                                            <ol class="list-group">
                                                <li class="list-group-item" ng-repeat="victom in matter_viewing.people.victom">
                                                    <a href="" ng-click="activePerson(victom)">{{ victom.firstname }} {{ victom.lastname }}</a>
                                                </li>
                                            </ol>
                                        </div>
                                        <div class="col-md-6 column">
                                            <h5>Person</h5>
                                            <div class="well">
                                                Name: {{ active_person.firstname }} {{ active_person.lastname }}<br>
                                                Phone: {{ active_person.phone }}<br>
                                                Email: <a href="mailto:{{ active_person.email }}?Subject=Matter:%20{{matter_viewing.case_id}}%20">{{ active_person.email }}</a><br>
                                                <hr>
                                                <button type="button" class="btn btn-success" ng-disabled="active_person_is_active" ng-click="editPerson(active_person)">edit</button>
                                                <button type="button" class="btn btn-primary" ng-click="addPerson()">Add</button>
                                            </div>
                                            <!-- start edit a person -->
                                            <div class="animate-switch-container well"
                                                 ng-switch ng-if="edit_person.id">
                                                <h5>Edit Person</h5>
                                                <div class="animate-switch">
                                                    <form>
                                                        <div class="form-group">
                                                            <label>First Name</label>
                                                            <input class="form-control" type="text" data-ng-model="edit_person.firstname">
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Last Name</label>
                                                            <input class="form-control"  type="text" data-ng-model="edit_person.lastname">
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Phone</label>
                                                            <input class="form-control"  type="text" data-ng-model="edit_person.phone">
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Email</label>
                                                            <input class="form-control"  type="text" data-ng-model="edit_person.email">
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Description</label>
                                                            <input class="form-control"  type="text" data-ng-model="edit_person.description">
                                                        </div>
                                                        <button type="button" class="btn btn-danger" ng-disabled="active_person_is_active" ng-click="updatePerson(active_person)">Update</button>
                                                    </form>
                                                    <hr>
                                                </div>
                                            </div>
                                            <!-- end edit a person -->

                                            <!-- start add a person -->
                                            <div class="animate-switch-container well"
                                                 ng-switch ng-if="add_person">
                                                <h5>Add Person</h5>
                                                <div class="animate-switch">
                                                    <form>
                                                        <div class="form-group">
                                                            <label>First Name</label>
                                                            <input class="form-control" type="text" data-ng-model="add_person.firstname" required>
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Last Name</label>
                                                            <input class="form-control"  type="text" data-ng-model="add_person.lastname" required>
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Phone</label>
                                                            <input class="form-control"  type="text" data-ng-model="add_person.phone">
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Email</label>
                                                            <input class="form-control"  type="text" data-ng-model="add_person.email">
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Description</label>
                                                            <input class="form-control"  type="text" data-ng-model="add_person.description">
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Particant Role</label>
                                                            <select ng-model="add_person.role" ng-options="role.label for role in roles">

                                                            </select>
                                                        </div>
                                                        <button type="button" class="btn btn-danger" ng-click="savePerson()">Create</button>
                                                    </form>
                                                    <hr>
                                                </div>
                                            </div>
                                            <!-- end add person -->
                                        </div>
                                    </tab>
                                    <tab heading="Issues">Coming Soon.......</tab>
                                    <tab heading="Tasks">Coming Soon...........</tab>
                                    <tab heading="Notes">Coming Soon.............</tab>
                                </tabset>
                        </div>
                    </div>
                </div>
                <!-- end right column with forms and actions -->

            </div>
        </div>
    </div>
</div>