<div class="container" xmlns="http://www.w3.org/1999/html">
    <ng-include src="nav.url"></ng-include>

    <div class="row clearfix">
        <div class="col-md-12 column">
            <div class="row clearfix">
                <!-- start left side column with features -->
                <div class="col-md-2 column">
                    <div class="list-group">
                        <h4 class="list-group-item"><i class="glyphicon-download glyphicon"></i>&nbsp; Actions</h4>
                        <a href="#/dashboard/matters" class="list-group-item active"><i class="glyphicon glyphicon-th"></i>&nbsp;Matters</a>
                        <div class="list-group-item">
                            <i class="glyphicon glyphicon-user"></i>&nbsp;People
                        </div>
                        <div class="list-group-item">
                            <i class="glyphicon glyphicon-th-list"></i>&nbsp;Reports
                        </div>
                        <div class="list-group-item">
                            <i class="glyphicon glyphicon-calendar"></i>&nbsp;Calendar
                        </div>
                        <div class="list-group-item">
                            <span class="badge">14</span>
                            <i class="glyphicon glyphicon-tasks"></i>>&nbsp;Task
                        </div>

                    </div>
                </div>
                <!-- end left side column with features -->
                <!-- start middle column with list of names or cases -->
                <div class="col-md-3 column">
                    <h4 class="list-group-item"><i class="glyphicon glyphicon-align-justify"></i>&nbsp; {{ action }}</h4>
                    <input type="text" class="input-sm form-control" placeholder="search matters" ng-model="matters_search">
                    <div class="matters">
                        <ol class="list-group">
                            <li ng-class-odd="'odd'" ng-class-even="'even'" class="list-group-item" ng-class="{active:matter.id == matter_viewing.id}" ng-repeat="matter in matters | filter:matters_search">
                                <a href="" ng-click="activeMatter(matter)">{{ matter.name }} <small>[{{ matter.case_id}}]</small></a>
                            </li>
                        </ol>
                    </div>
                </div>

                <!-- end middle column with list of names or cases -->

                <!-- start right column with forms and actions -->
                <div class="col-md-7 column">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <strong>Matter Name: {{ matter_viewing.name }}</strong> [{{ matter_viewing.case_id}}]
                        </div>
                            <div class="panel-body">
                                <a href="" ng-click="addMatter()" tooltip="Add Matter">
                                    <i class="glyphicon glyphicon-plus-sign"></i>
                                </a> &nbsp;
                                <a href="" ng-click="editMode()" tooltip="Edit Mode">
                                    <i class="glyphicon glyphicon-pencil"></i>
                                </a> &nbsp;
                                <a href="" ng-click="editModeSave()" tooltip="Save Changes">
                                    <i class="glyphicon glyphicon-save"></i>
                                </a> &nbsp;
                                <a href="" ng-click="closeMatter()" tooltip="Change from Active to Closed">
                                    <i ng-class="openCloseClass" class="glyphicon"></i>
                                </a> &nbsp;
                                <a href="" ng-click="deleteMatterConfirm()" tooltip="Delete the matter">
                                    <i class="glyphicon glyphicon-remove"></i>
                                </a>
                            </div>
                            <!-- start cast type -->

                            <!-- start left side items -->
                            <div class="panel-body">
                            <div class="col-lg-6">
                                <span class="animate-switch-container" ng-switch on="edit_mode">
                                    <span class="animate-switch-container" ng-switch-default>
                                        <div><strong>Type:</strong></div>
                                        {{ matter_viewing.case_type | caseType:this }}
                                    </span>
                                    <div class="form-group" class="animate-switch-container" ng-switch-when="1">
                                       <label>Type:</label>
                                       <select class="col-lg-12" ng-model="matter_viewing.case_type" ng-options="t.key as t.value for t in matters_fields.case_types">
                                       </select>
                                    </div>
                                </span>

                                <!-- start defendant -->
                                <span class="animate-switch-container" ng-switch on="edit_mode">
                                    <span class="animate-switch-container" ng-switch-default>
                                        <div><strong>Defendant:</strong></div>
                                        {{ matter_viewing.defendant | people:this }}
                                    </span>
                                    <div class="form-group" class="animate-switch-container" ng-switch-when="1">
                                        <label>Defendant:</label>
                                        <input
                                            type="text"
                                            ng-model="matter_viewing.defendant"
                                            typeahead="p as p.firstname + ' ' + p.lastname for p in people | filter:$viewValue | limitTo:100"
                                            class="form-control col-lg-12" placeholder="type to find">
                                    </div>
                                </span>

                                <!-- start date -->
                                <div class="animate-switch-container" ng-switch on="edit_mode">
                                    <span class="animate-switch-container" ng-switch-default>
                                        <div><strong>Incident Date:</strong></div>
                                        {{ matter_viewing.created | date:'MM/dd/yyyy' }}
                                    </span>
                                    <span class="animate-switch-container" ng-switch-when="1">
                                            <label>Incident Date:</label>
                                            <input class="form-control input-sm col-lg-12" type="text" datepicker-popup="{{format}}"
                                                   data-ng-model="matter_viewing.created"
                                                   is-open="opened" min="2013-06-22" datepicker-options="dateOptions"
                                                   close-text="Close">
                                    </span>
                                </div>

                                <!-- start court -->
                                <span class="animate-switch-container" ng-switch on="edit_mode">
                                    <span class="animate-switch-container" ng-switch-default>
                                        <div><strong>Court:</strong></div>
                                        {{ matter_viewing.court_location | location:this }}
                                    </span>
                                    <div class="form-group" class="animate-switch-container" ng-switch-when="1">
                                       <label>Court:</label>
                                       <select class="col-lg-12" ng-model="matter_viewing.court_location" ng-options="l.id as l.name for l in locations">
                                       </select>
                                    </div>
                                </span>

                                <!-- start court -->
                                <span class="animate-switch-container" ng-switch on="edit_mode">
                                    <span class="animate-switch-container" ng-switch-default>
                                        <div><strong>Police Dept:</strong></div>
                                        {{ matter_viewing.police_dept | location:this }}
                                    </span>
                                    <div class="form-group" class="animate-switch-container" ng-switch-when="1">
                                        <label>Police Dept:</label>
                                       <select class="col-lg-12" ng-model="matter_viewing.police_dept" ng-options="l.id as l.name for l in locations">
                                       </select>
                                    </div>
                                </span>
                                <!-- start da office -->
                                <span class="animate-switch-container" ng-switch on="edit_mode">
                                    <span class="animate-switch-container" ng-switch-default>
                                        <div><strong>Dist. Atty. Office</strong></div>
                                        {{ matter_viewing.da_office | location:this }}
                                    </span>
                                    <div class="form-group" class="animate-switch-container" ng-switch-when="1">
                                        <label>Dist. Atty. Office</label>
                                        <select class="col-lg-12" ng-model="matter_viewing.da_office" ng-options="l.id as l.name for l in locations">
                                       </select>
                                    </div>
                                </span>
                                <!-- start attorney -->
                                <span class="animate-switch-container" ng-switch on="edit_mode">
                                    <span class="animate-switch-container" ng-switch-default>
                                        <div><strong>Attorney:</strong></div>
                                        {{ matter_viewing.attorney | people:this }}
                                    </span>
                                    <div class="form-group" class="animate-switch-container" ng-switch-when="1">
                                       <label>Attorney:</label>
                                       <input
                                               type="text"
                                               ng-model="matter_viewing.attorney"
                                               typeahead="p as p.firstname + ' ' + p.lastname for p in people | filter:$viewValue | limitTo:100"
                                               class="form-control col-lg-12" placeholder="type to find">
                                    </div>
                                </span>

                                <!-- Rate -->
                                <div class="animate-switch-container" ng-switch on="edit_mode">
                                    <span class="animate-switch-container" ng-switch-default>
                                        <div><strong>Rate</strong></div>
                                        {{ matter_viewing.rate | currency }}
                                    </span>
                                    <span class="animate-switch-container" ng-switch-when="1">
                                            <label>Rate</label>
                                            <input class="form-control col-lg-6 input-sm" type="number" ng-model="matter_viewing.rate">
                                    </span>
                                </div>
                                <!-- end Rate -->
                            </div>
                            <!-- end left side items -->

                            <!-- start right side form items -->
                            <div class="col-lg-5 left-side">
                                <!-- start date -->
                                <!-- @left_off need to break the date / time int two fields or just do date here? -->
                                <div class="animate-switch-container" ng-switch on="edit_mode">
                                    <span class="animate-switch-container" ng-switch-default>
                                        <div><strong>Arraign Date:</strong></div>
                                        {{ matter_viewing.arraign_date | date:'MM/dd/yyyy' }}
                                    </span>
                                    <span class="animate-switch-container" ng-switch-when="1">
                                        <label>Arraign Date:</label>
                                        <input class="form-control input-sm" type="text" datepicker-popup="{{format}}"
                                               data-ng-model="matter_viewing.arraign_date"
                                               is-open="opened" min="2013-06-22" datepicker-options="dateOptions"
                                               close-text="Close">
                                    </span>
                                </div>

                                <div class="animate-switch-container" ng-switch on="edit_mode">
                                    <span class="animate-switch-container" ng-switch-default>
                                        <div><strong>Docket Number:</strong></div>
                                        {{ matter_viewing.docket_number }}
                                    </span>
                                    <span class="animate-switch-container" ng-switch-when="1">
                                        <label>Docket Number:</label>
                                        <input class="form-control input-sm" type="text" ng-model="matter_viewing.docket_number">
                                    </span>
                                </div>

                                <!-- start reporting officer -->
                                <span class="animate-switch-container" ng-switch on="edit_mode">
                                    <span class="animate-switch-container" ng-switch-default>
                                        <div><strong>Reporting Officer:</strong></div>
                                        {{ matter_viewing.reporting_officer | people:this }}</span>
                                    <span class="form-group" class="animate-switch-container" ng-switch-when="1">
                                        <label>Reporting Officer:</label>
                                       <input
                                           type="text"
                                           ng-model="matter_viewing.reporting_officer"
                                           typeahead="p as p.firstname + ' ' + p.lastname for p in people | filter:$viewValue | limitTo:100"
                                           class="form-control" placeholder="type to find">
                                    </span>
                                </span>

                                <!-- asst. dist attorney -->
                                <span class="animate-switch-container" ng-switch on="edit_mode">
                                    <span class="animate-switch-container" ng-switch-default>
                                        <div><strong>Asst. Dist. Atty:</strong></div>
                                        {{ matter_viewing.asst_dist_atty | people:this }}
                                    </span>
                                    <span class="form-group" class="animate-switch-container" ng-switch-when="1">
                                        <label>Asst. Dist. Atty:</label>
                                        <input
                                               type="text"
                                               ng-model="matter_viewing.asst_dist_atty"
                                               typeahead="p as p.firstname + ' ' + p.lastname for p in people | filter:$viewValue | limitTo:100"
                                               class="form-control" placeholder="type to find">
                                    </span>
                                </span>

                                <!-- probation officer -->
                                <span class="animate-switch-container" ng-switch on="edit_mode">
                                    <span class="animate-switch-container" ng-switch-default>
                                        <div><strong>Probation Officer:</strong></div>
                                        {{ matter_viewing.probation_officer | people:this }}
                                    </span>
                                    <span class="form-group" class="animate-switch-container" ng-switch-when="1">
                                        <label>Probation Officer:</label>
                                        <input
                                                type="text"
                                                ng-model="matter_viewing.probation_officer"
                                                typeahead="p as p.firstname + ' ' + p.lastname for p in people | filter:$viewValue | limitTo:100"
                                                class="form-control" placeholder="type to find">
                                    </span>
                                </span>

                                <div class="animate-switch-container" ng-switch on="edit_mode">
                                    <span class="animate-switch-container" ng-switch-default>
                                        <div><strong>NAC #:</strong></div>
                                        {{ matter_viewing.nac_number }}
                                    </span>
                                    <span class="animate-switch-container" ng-switch-when="1">
                                        <label>NAC #:</label>
                                        <input class="form-control input-sm" type="text" ng-model="matter_viewing.nac_number">
                                    </span>
                                </div>

                            </div>
                            <!-- end right side itms -->
                        </div>

                        <!-- start details area -->
                        <div class="panel-body">
                                <tabset>
                                    <tab heading="Calendar" >
                                       <ng-include src="calendar.url"></ng-include>
                                    </tab>
                                    <tab heading="Witnesses" id="witnesses">
                                            <ng-include src="witness.url"></ng-include>
                                    </tab>
                                    <tab heading="Issues">Coming Soon.......</tab>
                                    <tab heading="Tasks">Coming Soon...........</tab>
                                    <tab heading="Notes">Coming Soon.............</tab>
                                </tabset>
                        </div>
                    </div>
                </div>
                <!-- end right column with forms and actions -->

            </div>
        </div>
    </div>
</div>