<div class="container">
    <ng-include src="nav.url"></ng-include>

    <div class="row clearfix">
        <div class="col-md-12 column">
            <div class="row clearfix">
                <!-- start left side column with features -->
                <div class="col-md-2 column">
                    <div class="list-group">
                        <h4 class="list-group-item"><i class="glyphicon-download glyphicon"></i>&nbsp; Actions</h4>
                        <a href="#/dashboard/matters" class="list-group-item active"><i class="glyphicon glyphicon-th"></i>&nbsp;Matters</a>
                        <div class="list-group-item">
                            <i class="glyphicon glyphicon-user"></i>&nbsp;People
                        </div>
                        <div class="list-group-item">
                            <i class="glyphicon glyphicon-th-list"></i>&nbsp;Reports
                        </div>
                        <div class="list-group-item">
                            <i class="glyphicon glyphicon-calendar"></i>&nbsp;Calendar
                        </div>
                        <div class="list-group-item">
                            <span class="badge">14</span>
                            <i class="glyphicon glyphicon-tasks"></i>>&nbsp;Task
                        </div>

                    </div>
                </div>
                <!-- end left side column with features -->
                <!-- start middle column with list of names or cases -->
                <div class="col-md-3 column">
                    <h4 class="list-group-item"><i class="glyphicon glyphicon-align-justify"></i>&nbsp; {{ action }}</h4>
                    <input type="text" class="input-sm form-control" placeholder="search matters" ng-model="matters_search">
                    <div class="matters">
                        <ol class="list-group">
                            <li ng-class-odd="'odd'" ng-class-even="'even'" class="list-group-item" ng-class="{active:matter.id == matter_viewing.id}" ng-repeat="matter in matters | filter:matters_search">
                                <a href="" ng-click="activeMatter(matter)">{{ matter.name }} <small>[{{ matter.case_id}}]</small></a>
                            </li>
                        </ol>
                    </div>
                </div>

                <!-- end middle column with list of names or cases -->

                <!-- start right column with forms and actions -->
                <div class="col-md-7 column">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <strong>Matter Name: {{ matter_viewing.name }}</strong> [{{ matter_viewing.case_id}}]
                        </div>
                        <div class="panel-body">
                            <div><a href="" ng-click="editMode()"><i class="glyphicon glyphicon-pencil"></i></a> &nbsp; <a href="" ng-click="editModeSave()"><i class="glyphicon glyphicon-save"></i></a></div>
                            <!-- start cast type -->

                            <!-- start left side items -->
                            <div class="col-lg-6">
                                <h5>Type:</h5>
                                <span class="animate-switch-container col-lg-12" ng-switch on="edit_mode">
                                    <span class="animate-switch-container" ng-switch-default>{{ matter_viewing.case_type | caseType:this }}</span>
                                    <span class="form-group col-xs-6" class="animate-switch-container" ng-switch-when="1">
                                       <select ng-model="matter_viewing.case_type" ng-options="t.key as t.value for t in matters_fields.case_types">
                                       </select>
                                    </span>
                                </span>

                                <!-- start defendant -->
                                <h5>Defendant:</h5>
                                <span class="animate-switch-container col-lg-12" ng-switch on="edit_mode">
                                    <span class="animate-switch-container" ng-switch-default>{{ matter_viewing.defendant | people:this }}</span>
                                    <span class="form-group col-xs-6" class="animate-switch-container" ng-switch-when="1">
                                       <select ng-model="matter_viewing.defendant" ng-options="p.id as p.firstname + ' ' + p.lastname for p in people">
                                       </select>
                                    </span>
                                </span>

                                <!-- start date -->
                                <h5>Date:</h5>
                                <!-- @left_off need to break the date / time int two fields or just do date here? -->
                                <div class="animate-switch-container col-lg-12" ng-switch on="edit_mode">
                                    <span class="animate-switch-container" ng-switch-default>{{ matter_viewing.created | date:'MM/dd/yyyy' }}</span>
                                    <span class="animate-switch-container" ng-switch-when="1">
                                        <div class="col-xs-12">
                                            <input class="form-control input-sm" type="text" datepicker-popup="{{format}}"
                                                   data-ng-model="matter_viewing.created"
                                                   is-open="opened" min="2013-06-22" datepicker-options="dateOptions"
                                                   close-text="Close">
                                        </div>
                                    </span>
                                </div>

                                <!-- start court -->
                                <h5>Court:</h5>
                                <span class="animate-switch-container col-lg-12" ng-switch on="edit_mode">
                                    <span class="animate-switch-container" ng-switch-default>{{ matter_viewing.court_location | location:this }}</span>
                                    <span class="form-group col-xs-6" class="animate-switch-container" ng-switch-when="1">
                                       <select ng-model="matter_viewing.court_location" ng-options="l.id as l.name for l in locations">
                                       </select>
                                    </span>
                                </span>

                                <!-- start court -->
                                <h5>Police Dept:</h5>
                                <span class="animate-switch-container col-lg-12" ng-switch on="edit_mode">
                                    <span class="animate-switch-container" ng-switch-default>{{ matter_viewing.police_dept | location:this }}</span>
                                    <span class="form-group col-xs-6" class="animate-switch-container" ng-switch-when="1">
                                       <select ng-model="matter_viewing.police_dept" ng-options="l.id as l.name for l in locations">
                                       </select>
                                    </span>
                                </span>

                                <!-- start da office -->
                                <h5>Dist. Atty. Office</h5>
                                <span class="animate-switch-container col-lg-12" ng-switch on="edit_mode">
                                    <span class="animate-switch-container" ng-switch-default>{{ matter_viewing.da_office | location:this }}</span>
                                    <span class="form-group col-xs-6" class="animate-switch-container" ng-switch-when="1">
                                       <select ng-model="matter_viewing.da_office" ng-options="l.id as l.name for l in locations">
                                       </select>
                                    </span>
                                </span>

                                <!-- start attorney -->
                                <h5>Attorney:</h5>
                                <span class="animate-switch-container col-lg-12" ng-switch on="edit_mode">
                                    <span class="animate-switch-container" ng-switch-default>{{ matter_viewing.attorney | people:this }}</span>
                                    <span class="form-group col-xs-6" class="animate-switch-container" ng-switch-when="1">
                                       <select ng-model="matter_viewing.attorney" ng-options="p.id as p.firstname + ' ' + p.lastname for p in people">
                                       </select>
                                    </span>
                                </span>

                                <!-- Rate -->
                                <h5>Rate:</h5>
                                <div class="animate-switch-container col-lg-12" ng-switch on="edit_mode">
                                    <span class="animate-switch-container" ng-switch-default>{{ matter_viewing.rate | currency }}</span>
                                    <span class="animate-switch-container" ng-switch-when="1">
                                        <div class="col-xs-4">
                                            <input class="form-control input-sm" type="number" ng-model="matter_viewing.rate">
                                        </div>
                                    </span>
                                </div>
                                <!-- end Rate -->
                            </div>
                            <!-- end left side items -->

                            <!-- start right side form items -->
                            <div class="col-lg-5 left-side">
                                <!-- start date -->
                                <h5>Arraign Date:</h5>
                                <!-- @left_off need to break the date / time int two fields or just do date here? -->
                                <div class="animate-switch-container col-lg-12" ng-switch on="edit_mode">
                                    <span class="animate-switch-container" ng-switch-default>{{ matter_viewing.arraign_date | date:'MM/dd/yyyy' }}</span>
                                    <span class="animate-switch-container" ng-switch-when="1">
                                        <div class="col-xs-12">
                                            <input class="form-control input-sm" type="text" datepicker-popup="{{format}}"
                                                   data-ng-model="matter_viewing.arraign_date"
                                                   is-open="opened" min="2013-06-22" datepicker-options="dateOptions"
                                                   close-text="Close">
                                        </div>
                                    </span>
                                </div>

                                <h5>Docket Number:</h5>
                                <div class="animate-switch-container col-lg-12" ng-switch on="edit_mode">
                                    <span class="animate-switch-container" ng-switch-default>{{ matter_viewing.docket_number }}</span>
                                    <span class="animate-switch-container" ng-switch-when="1">
                                        <div class="col-xs-12">
                                            <input class="form-control input-sm" type="text" ng-model="matter_viewing.docket_number">
                                        </div>
                                    </span>
                                </div>

                                <!-- start reporting officer -->
                                <h5>Reporting Officer:</h5>
                                <span class="animate-switch-container col-lg-12" ng-switch on="edit_mode">
                                    <span class="animate-switch-container" ng-switch-default>{{ matter_viewing.reporting_officer | people:this }}</span>
                                    <span class="form-group col-xs-6" class="animate-switch-container" ng-switch-when="1">
                                       <select ng-model="matter_viewing.reporting_officer" ng-options="p.id as p.firstname + ' ' + p.lastname for p in people">
                                       </select>
                                    </span>
                                </span>

                                <!-- asst. dist attorney -->
                                <h5>Asst. Dist. Atty:</h5>
                                <span class="animate-switch-container col-lg-12" ng-switch on="edit_mode">
                                    <span class="animate-switch-container" ng-switch-default>{{ matter_viewing.asst_dist_atty | people:this }}</span>
                                    <span class="form-group col-xs-6" class="animate-switch-container" ng-switch-when="1">
                                       <select ng-model="matter_viewing.asst_dist_atty" ng-options="p.id as p.firstname + ' ' + p.lastname for p in people">
                                       </select>
                                    </span>
                                </span>

                                <!-- probation officer -->
                                <h5>Probation Officer:</h5>
                                <span class="animate-switch-container col-lg-12" ng-switch on="edit_mode">
                                    <span class="animate-switch-container" ng-switch-default>{{ matter_viewing.probation_officer | people:this }}</span>
                                    <span class="form-group col-xs-6" class="animate-switch-container" ng-switch-when="1">
                                       <select ng-model="matter_viewing.probation_officer" ng-options="p.id as p.firstname + ' ' + p.lastname for p in people">
                                       </select>
                                    </span>
                                </span>

                                <h5>NAC #:</h5>
                                <div class="animate-switch-container col-lg-12" ng-switch on="edit_mode">
                                    <span class="animate-switch-container" ng-switch-default>{{ matter_viewing.nac_number }}</span>
                                    <span class="animate-switch-container" ng-switch-when="1">
                                        <div class="col-xs-12">
                                            <input class="form-control input-sm" type="text" ng-model="matter_viewing.nac_number">
                                        </div>
                                    </span>
                                </div>

                            </div>
                            <!-- end right side itms -->


                        </div>

                        <!-- start details area -->
                        <div class="panel-body">
                                <tabset>
                                    <tab heading="Details" >

                                        <span class="animate-switch-container col-lg-12" ng-switch on="edit_mode">
                                            <div class="animate-switch-container" ng-switch-default ng-bind="matter_viewing.description"></div>
                                            <span class="form-group col-xs-12" class="animate-switch-container" ng-switch-when="1">
                                                <textarea class="form-control" rows="10" ng-model="matter_viewing.description"></textarea>
                                            </span>
                                        </span>
                                    </tab>

                                    <tab heading="Calendar" >
                                    <!-- @LEFT_OFF add event service and pull in related events -->
                                    <!-- @TODO make event type filter -->
                                        <table class="table table-striped table-bordered table-hover table-condensed">
                                            <thead>
                                                <tr>
                                                    <th>Name</th>
                                                    <th>Date</th>
                                                    <th>Time</th>
                                                    <th>Location</th>
                                                    <th>Type</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="event in matter_viewing.events">
                                                    <td>
                                                        <div>
                                                            <span ng-if="!edit_event_mode[event.event_id]">{{ event.name }}</span>
                                                            <span ng-if="edit_event_mode[event.event_id]">
                                                                <input type="text" ng-model="event.name" class="form-control input-sm" required="required">
                                                            </span>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div>
                                                            <span ng-if="!edit_event_mode[event.event_id]">{{ event.date }}</span>
                                                            <span ng-if="edit_event_mode[event.event_id]">
                                                                <input class="form-control input-sm" type="text" datepicker-popup="{{format}}"
                                                                       data-ng-model="event.date"
                                                                       is-open="opened" min="2013-06-22" datepicker-options="dateOptions"
                                                                       close-text="Close" class="form-control input-sm" required="required">
                                                            </span>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div>
                                                            <span ng-if="!edit_event_mode[event.event_id]">{{ event.time }}</span>
                                                            <span ng-if="edit_event_mode[event.event_id]">
                                                                <input type="text" ng-model="event.time" class="form-control input-sm" required="required">
                                                            </span>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div>
                                                            <span ng-if="!edit_event_mode[event.event_id]">
                                                                {{ event.location_id | location:this }}
                                                            </span>
                                                            <span ng-if="edit_event_mode[event.event_id]">
                                                                <select
                                                                        ng-model="event.location_id"
                                                                        ng-options="l.id as l.name for l in locations"
                                                                        class="form-control input-sm">
                                                                </select>
                                                            </span>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div>
                                                            <span ng-if="!edit_event_mode[event.event_id]">
                                                                {{ event.event_type | eventType:this }}
                                                            </span>
                                                            <span ng-if="edit_event_mode[event.event_id]">
                                                                <select
                                                                        ng-model="event.event_type"
                                                                        ng-options="e.key as e.label for e in matters_fields.event_types"
                                                                        class="form-control input-sm">
                                                                </select>
                                                            </span>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <i class="glyphicon glyphicon-pencil" ng-click="setEditEventMode(event.event_id)"></i>
                                                        <i class="glyphicon glyphicon-save" ng-click="updateEvent(event.event_id)"></i>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <button type="button" class="glyphicon glyphicon-plus-sign btn btn-success" ng-click="addEvent()">Add</button>

                                        <!-- add new event -->
                                        <form class="form-group" ng-if="eventFormShow" name="newEventForm">
                                            <label>Event Name</label><input type="text" ng-model="newEvent.name" class="form-control" required="required">
                                            <label>Date</label><input class="form-control input-sm" type="text" datepicker-popup="{{format}}"
                                                   data-ng-model="newEvent.date"
                                                   is-open="opened" min="2013-06-22" datepicker-options="dateOptions"
                                                   close-text="Close" class="form-control" required="required">
                                            <label>Time:</label>
                                            <input type="text" ng-model="newEvent.time" class="form-control input-sm" required="required" placeholder="04:30:00">
                                            <label>Location</label>
                                                <select ng-model="newEvent.location_id" ng-options="l.id as l.name for l in locations" class="form-control">
                                                </select>
                                            <label>Type</label>
                                                <select ng-model="newEvent.event_type" ng-options="e.key as e.label for e in matters_fields.event_types" class="form-control"></select>
                                            <label>Notes</label><input type="text" ng-model="newEvent.description" class="form-control">
                                            <button type="submit" class="btn btn-success" ng-click="submitEvent()" ng-disabled="newEventForm .$invalid || isUnchanged(newEvent)">Add Event</button>
                                        </form>
                                        <!-- end add new event -->

                                    </tab>

                                    <tab heading="People">
                                        <div class="col-md-6 column">
                                            <h4 class="list-group-item"><i class="glyphicon-download glyphicon"></i>&nbsp; Witnesses</h4>
                                            <ol class="list-group">
                                                <li class="list-group-item" ng-repeat="witness in matter_viewing.people.witness">
                                                    <a href="" ng-click="activePerson(witness)">{{ witness.firstname }} {{ witness.lastname }}</a>
                                                </li>
                                            </ol>
                                            <h4 class="list-group-item"><i class="glyphicon-download glyphicon"></i>&nbsp; Other</h4>
                                            <ol class="list-group">
                                                <li class="list-group-item" ng-repeat="victim in matter_viewing.people.victom">
                                                    <a href="" ng-click="activePerson(victim)">{{ victim.firstname }} {{ victim.lastname }}</a>
                                                </li>
                                            </ol>
                                        </div>
                                        <div class="col-md-6 column">
                                            <h5>Person</h5>
                                            <div class="well">
                                                Name: {{ active_person.firstname }} {{ active_person.lastname }}<br>
                                                Phone: {{ active_person.phone }}<br>
                                                Email: <a href="mailto:{{ active_person.email }}?Subject=Matter:%20{{matter_viewing.case_id}}%20">{{ active_person.email }}</a><br>
                                                <hr>
                                                <button type="button" class="btn btn-success" ng-disabled="active_person_is_active" ng-click="editPerson(active_person)">edit</button>
                                                <button type="button" class="btn btn-primary" ng-click="addPerson()">Add</button>
                                            </div>
                                            <!-- start edit a person -->
                                            <div class="animate-switch-container well"
                                                 ng-switch ng-if="edit_person.id">
                                                <h5>Edit Person</h5>
                                                <div class="animate-switch">
                                                    <form>
                                                        <div class="form-group">
                                                            <label>First Name</label>
                                                            <input class="form-control" type="text" data-ng-model="edit_person.firstname">
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Last Name</label>
                                                            <input class="form-control"  type="text" data-ng-model="edit_person.lastname">
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Phone</label>
                                                            <input class="form-control"  type="text" data-ng-model="edit_person.phone">
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Email</label>
                                                            <input class="form-control"  type="text" data-ng-model="edit_person.email">
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Description</label>
                                                            <input class="form-control"  type="text" data-ng-model="edit_person.description">
                                                        </div>
                                                        <button type="button" class="btn btn-danger" ng-disabled="active_person_is_active" ng-click="updatePerson(active_person)">Update</button>
                                                    </form>
                                                    <hr>
                                                </div>
                                            </div>
                                            <!-- end edit a person -->

                                            <!-- start add a person -->
                                            <div class="animate-switch-container well"
                                                 ng-switch ng-if="add_person">
                                                <h5>Add Person</h5>
                                                <div class="animate-switch">
                                                    <form>
                                                        <div class="form-group">
                                                            <label>First Name</label>
                                                            <input class="form-control" type="text" data-ng-model="add_person.firstname" required>
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Last Name</label>
                                                            <input class="form-control"  type="text" data-ng-model="add_person.lastname" required>
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Phone</label>
                                                            <input class="form-control"  type="text" data-ng-model="add_person.phone">
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Email</label>
                                                            <input class="form-control"  type="text" data-ng-model="add_person.email">
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Description</label>
                                                            <input class="form-control"  type="text" data-ng-model="add_person.description">
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Particant Role</label>
                                                            <select ng-model="add_person.role" ng-options="role.label for role in roles">

                                                            </select>
                                                        </div>
                                                        <button type="button" class="btn btn-danger" ng-click="savePerson()">Create</button>
                                                    </form>
                                                    <hr>
                                                </div>
                                            </div>
                                            <!-- end add person -->
                                        </div>
                                    </tab>
                                    <tab heading="Issues">Coming Soon.......</tab>
                                    <tab heading="Tasks">Coming Soon...........</tab>
                                    <tab heading="Notes">Coming Soon.............</tab>
                                </tabset>
                        </div>
                    </div>
                </div>
                <!-- end right column with forms and actions -->

            </div>
        </div>
    </div>
</div>