<div class="modal-header">Add Person</div>

<div class="modal-body">
        <div class="form-group">
            <form name="existingPerson" ng-submit="choosePerson(existing_person)">
                <label>Choose a person or add one</label>
                <div class="form-group">
                    <h4>Type name to search</h4>
                    <input
                           type="text"
                           ng-model="existing_person.person"
                           typeahead="p as p.firstname + ' ' + p.lastname for p in people | filter:$viewValue | limitTo:8"
                           class="form-control">
                </div>
                <input type="submit" class="btn btn-success" id="submit_existing_person" value="Select">
                <button type="button" class="btn btn-danger" ng-click="cancelAddPerson()">Cancel</button>
            </form>
        </div>
    <h5>-----Or create a new Person-----</h5>
    <ng-include src="person_form.url"></ng-include>
    <hr>
</div>
